<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.spiritsapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".VarietalsApp"
        android:largeHeap="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        
        <activity android:name=".activity.SignInActivity" android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        
        <activity android:name=".activity.ChooseTypesActivity" android:theme="@style/CustomActionBarTheme" >
        </activity> 
        
        <activity android:name=".activity.ChooseVarietalsActivity" android:theme="@style/CustomActionBarTheme" >
        </activity> 
        
        <activity android:name=".activity.VineyardsListActivity" android:theme="@style/CustomActionBarTheme" >
        </activity>

        <activity android:name=".activity.ChooseHotelActivity"
            android:theme="@style/CustomActionBarTheme"
            android:label="Book Hotels"
            >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity android:name=".activity.ViewVineyardActivity" android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity android:name=".activity.ViewItineraryActivity" android:theme="@style/CustomActionBarTheme" >
        </activity>

    </application>

</manifest>
